.header {
  position: relative;
  height: 100vh;
  width: 100%;
  background: $main-background-top;
  overflow: hidden;
  z-index: 10;
  .stars-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    .stars-anim {
      width: 1px;
      height: 1px;
      background-color: transparent;
      animation: stars 120s linear infinite;
      box-shadow: 779px 1331px #888, 324px 42px #888, 303px 586px #888,
        1312px 276px #888, 451px 625px #888, 521px 1931px #888,
        1087px 1871px #888, 36px 1546px #888, 132px 934px #888,
        1698px 901px #888, 1418px 664px #888, 1448px 1157px #888,
        1084px 232px #888, 347px 1776px #888, 1722px 243px #888,
        1629px 835px #888, 479px 969px #888, 1231px 960px #888, 586px 384px #888,
        164px 527px #888, 8px 646px #888, 1150px 1126px #888, 665px 1357px #888,
        1556px 1982px #888, 1260px 1961px #888, 1675px 1741px #888,
        1843px 1514px #888, 718px 1628px #888, 242px 1343px #888,
        1497px 1880px #888, 1364px 230px #888, 1739px 1302px #888,
        636px 959px #888, 304px 686px #888, 614px 751px #888, 1935px 816px #888,
        1428px 60px #888, 355px 335px #888, 1594px 158px #888, 90px 60px #888,
        1553px 162px #888, 1239px 1825px #888, 1945px 587px #888,
        749px 1785px #888, 1987px 1172px #888, 1301px 1237px #888,
        1039px 342px #888, 1585px 1481px #888, 995px 1048px #888,
        524px 932px #888, 214px 413px #888, 1701px 1300px #888,
        1037px 1613px #888, 1871px 996px #888, 1360px 1635px #888,
        1110px 1313px #888, 412px 1783px #888, 1949px 177px #888,
        903px 1854px #888, 700px 1936px #888, 378px 125px #888, 308px 834px #888,
        1118px 962px #888, 1350px 1929px #888, 781px 1811px #888,
        561px 137px #888, 757px 1148px #888, 1670px 1979px #888,
        343px 739px #888, 945px 795px #888, 576px 1903px #888,
        1078px 1436px #888, 1583px 450px #888, 1366px 474px #888,
        297px 1873px #888, 192px 162px #888, 1624px 1633px #888, 59px 453px #888,
        82px 1872px #888, 1933px 498px #888, 1966px 1974px #888,
        1975px 1688px #888, 779px 314px #888, 1858px 1543px #888,
        73px 1507px #888, 1693px 975px #888, 1683px 108px #888,
        1768px 1654px #888, 654px 14px #888, 494px 171px #888,
        1689px 1895px #888, 1660px 263px #888, 1031px 903px #888,
        1203px 1393px #888, 1333px 1421px #888, 1113px 41px #888,
        1206px 1645px #888, 1325px 1635px #888, 142px 388px #888,
        572px 215px #888, 1535px 296px #888, 1419px 407px #888,
        1379px 1003px #888, 329px 469px #888, 1791px 1652px #888,
        935px 1802px #888, 1330px 1820px #888, 421px 1933px #888,
        828px 365px #888, 275px 316px #888, 707px 960px #888, 1605px 1554px #888,
        625px 58px #888, 717px 1697px #888, 1669px 246px #888, 1925px 322px #888,
        1154px 1803px #888, 1929px 295px #888, 1248px 240px #888,
        1045px 1755px #888, 166px 942px #888, 1888px 1773px #888,
        678px 1963px #888, 1370px 569px #888, 1974px 1400px #888,
        1786px 460px #888, 51px 307px #888, 784px 1400px #888, 730px 1258px #888,
        1712px 393px #888, 416px 170px #888, 1797px 1932px #888,
        572px 219px #888, 1557px 1856px #888, 218px 8px #888, 348px 1334px #888,
        469px 413px #888, 385px 1738px #888, 1357px 1818px #888,
        240px 942px #888, 248px 1847px #888, 1535px 806px #888,
        236px 1514px #888, 1429px 1556px #888, 73px 1633px #888,
        1398px 1121px #888, 671px 1301px #888, 1404px 1663px #888,
        740px 1018px #888, 1600px 377px #888, 785px 514px #888,
        112px 1084px #888, 1915px 1887px #888, 1463px 1848px #888,
        687px 1115px #888, 1268px 1768px #888, 1729px 1425px #888,
        1284px 1022px #888, 801px 974px #888, 1975px 1317px #888,
        1354px 834px #888, 1446px 1484px #888, 1283px 1786px #888,
        11px 523px #888, 1842px 236px #888, 1355px 654px #888, 429px 7px #888,
        1033px 1128px #888, 157px 297px #888, 545px 635px #888, 52px 1080px #888,
        827px 1520px #888, 1121px 490px #888, 9px 309px #888, 1744px 1586px #888,
        1014px 417px #888, 1534px 524px #888, 958px 552px #888,
        1403px 1496px #888, 387px 703px #888, 1522px 548px #888,
        1355px 282px #888, 1532px 601px #888, 1838px 790px #888,
        290px 259px #888, 295px 598px #888, 1601px 539px #888,
        1561px 1272px #888, 34px 1922px #888, 1024px 543px #888,
        467px 369px #888, 722px 333px #888, 1976px 1255px #888, 766px 983px #888,
        1582px 1285px #888, 12px 512px #888, 617px 1410px #888, 682px 577px #888,
        1334px 1438px #888, 439px 327px #888, 1617px 1661px #888,
        673px 129px #888, 794px 941px #888, 1386px 1902px #888, 37px 1353px #888,
        1467px 1353px #888, 416px 18px #888, 187px 344px #888, 200px 1898px #888,
        1491px 1619px #888, 811px 347px #888, 924px 1827px #888,
        945px 217px #888, 1735px 1228px #888, 379px 1890px #888, 79px 761px #888,
        825px 1837px #888, 1980px 1558px #888, 1308px 1573px #888,
        1488px 1726px #888, 382px 1208px #888, 522px 595px #888,
        1277px 1898px #888, 354px 552px #888, 161px 1784px #888,
        614px 251px #888, 526px 1576px #888, 17px 212px #888, 179px 996px #888,
        467px 1208px #888, 1944px 1838px #888, 1140px 1093px #888,
        858px 1007px #888, 200px 1064px #888, 423px 1964px #888,
        1945px 439px #888, 1377px 689px #888, 1120px 1437px #888,
        1876px 668px #888, 907px 1324px #888, 343px 1976px #888,
        1816px 1501px #888, 1849px 177px #888, 647px 91px #888,
        1984px 1012px #888, 1336px 1300px #888, 128px 648px #888,
        305px 1060px #888, 1324px 826px #888, 1263px 1314px #888,
        1801px 629px #888, 1614px 1555px #888, 1634px 90px #888,
        1603px 452px #888, 891px 1984px #888, 1556px 1906px #888,
        121px 68px #888, 1676px 1714px #888, 516px 936px #888,
        1947px 1492px #888, 1455px 1519px #888, 45px 602px #888,
        205px 1039px #888, 793px 172px #888, 1562px 1739px #888,
        1056px 110px #888, 1512px 379px #888, 1795px 1621px #888,
        1848px 607px #888, 262px 1719px #888, 477px 991px #888, 483px 883px #888,
        1239px 1197px #888, 1496px 647px #888, 1649px 25px #888,
        1491px 1946px #888, 119px 996px #888, 179px 1472px #888,
        1341px 808px #888, 1565px 1700px #888, 407px 1544px #888,
        1754px 357px #888, 1288px 981px #888, 902px 1997px #888,
        1755px 1668px #888, 186px 877px #888, 1202px 1882px #888,
        461px 1213px #888, 1400px 748px #888, 1969px 1899px #888,
        809px 522px #888, 514px 1219px #888, 374px 275px #888, 938px 1973px #888,
        357px 552px #888, 144px 1722px #888, 1572px 912px #888,
        402px 1858px #888, 1544px 1195px #888, 667px 1257px #888,
        727px 1496px #888, 993px 232px #888, 1772px 313px #888,
        1040px 1590px #888, 1204px 1973px #888, 1268px 79px #888,
        1555px 1048px #888, 986px 1707px #888, 978px 1710px #888,
        713px 360px #888, 407px 863px #888, 461px 736px #888, 284px 1608px #888,
        103px 430px #888, 1283px 1319px #888, 977px 1186px #888,
        1966px 1516px #888, 1287px 1129px #888, 70px 1098px #888,
        1189px 889px #888, 1126px 1734px #888, 309px 1292px #888,
        879px 764px #888, 65px 473px #888, 1003px 1959px #888, 658px 791px #888,
        402px 1576px #888, 35px 622px #888, 529px 1589px #888, 164px 666px #888,
        1876px 1290px #888, 1541px 526px #888, 270px 1297px #888,
        440px 865px #888, 1500px 802px #888, 182px 1754px #888,
        1264px 892px #888, 272px 1249px #888, 1289px 1535px #888,
        190px 1646px #888, 955px 242px #888, 1456px 1597px #888,
        1727px 1983px #888, 635px 801px #888, 226px 455px #888,
        1396px 1710px #888, 849px 1863px #888, 237px 1264px #888,
        839px 140px #888, 1122px 735px #888, 1280px 15px #888, 1318px 242px #888,
        1819px 1148px #888, 333px 1392px #888, 1949px 553px #888,
        1878px 1332px #888, 467px 548px #888, 1812px 1082px #888,
        1067px 193px #888, 243px 156px #888, 483px 1616px #888,
        1714px 933px #888, 759px 1800px #888, 1822px 995px #888,
        1877px 572px #888, 581px 1084px #888, 107px 732px #888,
        642px 1837px #888, 166px 1493px #888, 1555px 198px #888,
        819px 307px #888, 947px 345px #888, 827px 224px #888, 927px 1394px #888,
        540px 467px #888, 1093px 405px #888, 1140px 927px #888, 130px 529px #888,
        33px 1980px #888, 1147px 1663px #888, 1616px 1436px #888,
        528px 710px #888, 798px 1100px #888, 505px 1480px #888, 899px 641px #888,
        1909px 1949px #888, 1311px 964px #888, 979px 1301px #888,
        1393px 969px #888, 1793px 1886px #888, 292px 357px #888,
        1196px 1718px #888, 1290px 1994px #888, 537px 1973px #888,
        1181px 1674px #888, 1740px 1566px #888, 1307px 265px #888,
        922px 522px #888, 1892px 472px #888, 384px 1746px #888,
        392px 1098px #888, 647px 548px #888, 390px 1498px #888,
        1246px 138px #888, 730px 876px #888, 192px 1472px #888,
        1790px 1789px #888, 928px 311px #888, 1253px 1647px #888,
        747px 1921px #888, 1561px 1025px #888, 1533px 1292px #888,
        1985px 195px #888, 728px 729px #888, 1712px 1936px #888,
        512px 1717px #888, 1528px 483px #888, 313px 1642px #888,
        281px 1849px #888, 1212px 799px #888, 435px 1191px #888,
        1422px 611px #888, 1718px 1964px #888, 411px 944px #888,
        210px 636px #888, 1502px 1295px #888, 1434px 349px #888, 769px 60px #888,
        747px 1053px #888, 789px 504px #888, 1436px 1264px #888,
        1893px 1225px #888, 1394px 1788px #888, 1108px 1317px #888,
        1673px 1395px #888, 854px 1010px #888, 1705px 80px #888,
        1858px 148px #888, 1729px 344px #888, 1388px 664px #888,
        895px 406px #888, 1479px 157px #888, 1441px 1157px #888,
        552px 1900px #888, 516px 364px #888, 1647px 189px #888,
        1427px 1071px #888, 785px 729px #888, 1080px 1710px #888,
        504px 204px #888, 1177px 1622px #888, 657px 34px #888,
        1296px 1099px #888, 248px 180px #888, 1212px 1568px #888,
        667px 1562px #888, 695px 841px #888, 1608px 1247px #888,
        751px 882px #888, 87px 167px #888, 607px 1368px #888, 1363px 1203px #888,
        1836px 317px #888, 1668px 1703px #888, 830px 1154px #888,
        1721px 1398px #888, 1601px 1280px #888, 976px 874px #888,
        1743px 254px #888, 1020px 1815px #888, 1670px 1766px #888,
        1890px 735px #888, 1379px 136px #888, 1864px 695px #888,
        206px 965px #888, 1404px 1932px #888, 1923px 1360px #888,
        247px 682px #888, 519px 1708px #888, 645px 750px #888,
        1164px 1204px #888, 834px 323px #888, 172px 1350px #888,
        213px 972px #888, 1837px 190px #888, 285px 1806px #888,
        1047px 1299px #888, 1548px 825px #888, 1730px 324px #888,
        1346px 1909px #888, 772px 270px #888, 345px 1190px #888,
        478px 1433px #888, 1479px 25px #888, 1994px 1830px #888,
        1744px 732px #888, 20px 1635px #888, 690px 1795px #888,
        1594px 569px #888, 579px 245px #888, 1398px 733px #888,
        408px 1352px #888, 1774px 120px #888, 1152px 1370px #888,
        1698px 1810px #888, 710px 1450px #888, 665px 286px #888,
        493px 1720px #888, 786px 5px #888, 637px 1140px #888, 764px 324px #888,
        927px 310px #888, 938px 1424px #888, 1884px 744px #888, 913px 462px #888,
        1831px 1936px #888, 1527px 249px #888, 36px 1381px #888,
        1597px 581px #888, 1530px 355px #888, 949px 459px #888, 799px 828px #888,
        242px 1471px #888, 654px 797px #888, 796px 594px #888, 1365px 678px #888,
        752px 23px #888, 1630px 541px #888, 982px 72px #888, 1733px 1831px #888,
        21px 412px #888, 775px 998px #888, 335px 1945px #888, 264px 583px #888,
        158px 1311px #888, 528px 164px #888, 1978px 574px #888,
        717px 1203px #888, 734px 1591px #888, 1555px 820px #888,
        16px 1943px #888, 1625px 1177px #888, 1236px 690px #888,
        1585px 1590px #888, 1737px 1728px #888, 721px 698px #888,
        1804px 1186px #888, 166px 980px #888, 1850px 230px #888,
        330px 1712px #888, 95px 797px #888, 1948px 1078px #888, 469px 939px #888,
        1269px 1899px #888, 955px 1220px #888, 1137px 1075px #888,
        312px 1293px #888, 986px 1762px #888, 1103px 1238px #888,
        428px 1993px #888, 355px 570px #888, 977px 1836px #888,
        1395px 1092px #888, 276px 913px #888, 1743px 656px #888,
        773px 502px #888, 1686px 1322px #888, 1516px 1945px #888,
        1334px 501px #888, 266px 156px #888, 455px 655px #888, 798px 72px #888,
        1059px 1259px #888, 1402px 1687px #888, 236px 1329px #888,
        1455px 786px #888, 146px 1228px #888, 1851px 823px #888,
        1062px 100px #888, 1220px 953px #888, 20px 1826px #888, 36px 1063px #888,
        1525px 338px #888, 790px 1521px #888, 741px 1099px #888,
        288px 1489px #888, 700px 1060px #888, 390px 1071px #888,
        411px 1036px #888, 1853px 1072px #888, 1446px 1085px #888,
        1164px 874px #888, 924px 925px #888, 291px 271px #888,
        1257px 1964px #888, 1580px 1352px #888, 1507px 1216px #888,
        211px 956px #888, 985px 1195px #888, 975px 1640px #888, 518px 101px #888,
        663px 1395px #888, 914px 532px #888, 145px 1320px #888, 69px 1397px #888,
        982px 523px #888, 257px 725px #888, 1599px 831px #888,
        1636px 1513px #888, 1250px 1158px #888, 1132px 604px #888,
        183px 102px #888, 1057px 318px #888, 1247px 1835px #888,
        1983px 1110px #888, 1077px 1455px #888, 921px 1770px #888,
        806px 1350px #888, 1938px 1992px #888, 855px 1260px #888,
        902px 1345px #888, 658px 1908px #888, 1845px 679px #888,
        712px 1482px #888, 595px 950px #888, 1784px 1992px #888,
        1847px 1785px #888, 691px 1004px #888, 175px 1179px #888,
        1666px 1911px #888, 41px 61px #888, 971px 1080px #888,
        1830px 1450px #888, 1351px 1518px #888, 1257px 99px #888,
        1395px 1498px #888, 1117px 252px #888, 1779px 597px #888,
        1346px 729px #888, 1108px 1144px #888, 402px 691px #888, 72px 496px #888,
        1673px 1604px #888, 1497px 974px #888, 1865px 1664px #888,
        88px 806px #888, 918px 77px #888, 244px 1118px #888, 256px 1820px #888,
        1851px 1840px #888, 605px 1851px #888, 634px 383px #888, 865px 37px #888,
        943px 1024px #888, 1951px 177px #888, 1097px 523px #888,
        985px 1700px #888, 1243px 122px #888, 768px 1070px #888,
        468px 194px #888, 320px 1867px #888, 1850px 185px #888,
        380px 1616px #888, 468px 1294px #888, 1122px 1743px #888,
        884px 299px #888, 1300px 1917px #888, 1860px 396px #888,
        1270px 990px #888, 529px 733px #888, 1975px 1347px #888,
        1885px 685px #888, 226px 506px #888, 651px 878px #888, 1323px 680px #888,
        1284px 680px #888, 238px 1967px #888, 911px 174px #888,
        1111px 521px #888, 1150px 85px #888, 794px 502px #888, 484px 1856px #888,
        1809px 368px #888, 112px 953px #888, 590px 1009px #888,
        1655px 311px #888, 100px 1026px #888, 1803px 352px #888,
        865px 306px #888, 1077px 1019px #888, 1335px 872px #888,
        1647px 1298px #888, 1233px 1387px #888, 698px 1036px #888,
        659px 1860px #888, 388px 1412px #888, 1212px 458px #888,
        755px 1468px #888, 696px 1654px #888, 1144px 60px #888;
    }
    .stars-anim::after {
      content: "";
      position: absolute;
      top: 2000px;
      width: 1px;
      height: 1px;
      background-color: transparent;
      box-shadow: 779px 1331px #888, 324px 42px #888, 303px 586px #888,
        1312px 276px #888, 451px 625px #888, 521px 1931px #888,
        1087px 1871px #888, 36px 1546px #888, 132px 934px #888,
        1698px 901px #888, 1418px 664px #888, 1448px 1157px #888,
        1084px 232px #888, 347px 1776px #888, 1722px 243px #888,
        1629px 835px #888, 479px 969px #888, 1231px 960px #888, 586px 384px #888,
        164px 527px #888, 8px 646px #888, 1150px 1126px #888, 665px 1357px #888,
        1556px 1982px #888, 1260px 1961px #888, 1675px 1741px #888,
        1843px 1514px #888, 718px 1628px #888, 242px 1343px #888,
        1497px 1880px #888, 1364px 230px #888, 1739px 1302px #888,
        636px 959px #888, 304px 686px #888, 614px 751px #888, 1935px 816px #888,
        1428px 60px #888, 355px 335px #888, 1594px 158px #888, 90px 60px #888,
        1553px 162px #888, 1239px 1825px #888, 1945px 587px #888,
        749px 1785px #888, 1987px 1172px #888, 1301px 1237px #888,
        1039px 342px #888, 1585px 1481px #888, 995px 1048px #888,
        524px 932px #888, 214px 413px #888, 1701px 1300px #888,
        1037px 1613px #888, 1871px 996px #888, 1360px 1635px #888,
        1110px 1313px #888, 412px 1783px #888, 1949px 177px #888,
        903px 1854px #888, 700px 1936px #888, 378px 125px #888, 308px 834px #888,
        1118px 962px #888, 1350px 1929px #888, 781px 1811px #888,
        561px 137px #888, 757px 1148px #888, 1670px 1979px #888,
        343px 739px #888, 945px 795px #888, 576px 1903px #888,
        1078px 1436px #888, 1583px 450px #888, 1366px 474px #888,
        297px 1873px #888, 192px 162px #888, 1624px 1633px #888, 59px 453px #888,
        82px 1872px #888, 1933px 498px #888, 1966px 1974px #888,
        1975px 1688px #888, 779px 314px #888, 1858px 1543px #888,
        73px 1507px #888, 1693px 975px #888, 1683px 108px #888,
        1768px 1654px #888, 654px 14px #888, 494px 171px #888,
        1689px 1895px #888, 1660px 263px #888, 1031px 903px #888,
        1203px 1393px #888, 1333px 1421px #888, 1113px 41px #888,
        1206px 1645px #888, 1325px 1635px #888, 142px 388px #888,
        572px 215px #888, 1535px 296px #888, 1419px 407px #888,
        1379px 1003px #888, 329px 469px #888, 1791px 1652px #888,
        935px 1802px #888, 1330px 1820px #888, 421px 1933px #888,
        828px 365px #888, 275px 316px #888, 707px 960px #888, 1605px 1554px #888,
        625px 58px #888, 717px 1697px #888, 1669px 246px #888, 1925px 322px #888,
        1154px 1803px #888, 1929px 295px #888, 1248px 240px #888,
        1045px 1755px #888, 166px 942px #888, 1888px 1773px #888,
        678px 1963px #888, 1370px 569px #888, 1974px 1400px #888,
        1786px 460px #888, 51px 307px #888, 784px 1400px #888, 730px 1258px #888,
        1712px 393px #888, 416px 170px #888, 1797px 1932px #888,
        572px 219px #888, 1557px 1856px #888, 218px 8px #888, 348px 1334px #888,
        469px 413px #888, 385px 1738px #888, 1357px 1818px #888,
        240px 942px #888, 248px 1847px #888, 1535px 806px #888,
        236px 1514px #888, 1429px 1556px #888, 73px 1633px #888,
        1398px 1121px #888, 671px 1301px #888, 1404px 1663px #888,
        740px 1018px #888, 1600px 377px #888, 785px 514px #888,
        112px 1084px #888, 1915px 1887px #888, 1463px 1848px #888,
        687px 1115px #888, 1268px 1768px #888, 1729px 1425px #888,
        1284px 1022px #888, 801px 974px #888, 1975px 1317px #888,
        1354px 834px #888, 1446px 1484px #888, 1283px 1786px #888,
        11px 523px #888, 1842px 236px #888, 1355px 654px #888, 429px 7px #888,
        1033px 1128px #888, 157px 297px #888, 545px 635px #888, 52px 1080px #888,
        827px 1520px #888, 1121px 490px #888, 9px 309px #888, 1744px 1586px #888,
        1014px 417px #888, 1534px 524px #888, 958px 552px #888,
        1403px 1496px #888, 387px 703px #888, 1522px 548px #888,
        1355px 282px #888, 1532px 601px #888, 1838px 790px #888,
        290px 259px #888, 295px 598px #888, 1601px 539px #888,
        1561px 1272px #888, 34px 1922px #888, 1024px 543px #888,
        467px 369px #888, 722px 333px #888, 1976px 1255px #888, 766px 983px #888,
        1582px 1285px #888, 12px 512px #888, 617px 1410px #888, 682px 577px #888,
        1334px 1438px #888, 439px 327px #888, 1617px 1661px #888,
        673px 129px #888, 794px 941px #888, 1386px 1902px #888, 37px 1353px #888,
        1467px 1353px #888, 416px 18px #888, 187px 344px #888, 200px 1898px #888,
        1491px 1619px #888, 811px 347px #888, 924px 1827px #888,
        945px 217px #888, 1735px 1228px #888, 379px 1890px #888, 79px 761px #888,
        825px 1837px #888, 1980px 1558px #888, 1308px 1573px #888,
        1488px 1726px #888, 382px 1208px #888, 522px 595px #888,
        1277px 1898px #888, 354px 552px #888, 161px 1784px #888,
        614px 251px #888, 526px 1576px #888, 17px 212px #888, 179px 996px #888,
        467px 1208px #888, 1944px 1838px #888, 1140px 1093px #888,
        858px 1007px #888, 200px 1064px #888, 423px 1964px #888,
        1945px 439px #888, 1377px 689px #888, 1120px 1437px #888,
        1876px 668px #888, 907px 1324px #888, 343px 1976px #888,
        1816px 1501px #888, 1849px 177px #888, 647px 91px #888,
        1984px 1012px #888, 1336px 1300px #888, 128px 648px #888,
        305px 1060px #888, 1324px 826px #888, 1263px 1314px #888,
        1801px 629px #888, 1614px 1555px #888, 1634px 90px #888,
        1603px 452px #888, 891px 1984px #888, 1556px 1906px #888,
        121px 68px #888, 1676px 1714px #888, 516px 936px #888,
        1947px 1492px #888, 1455px 1519px #888, 45px 602px #888,
        205px 1039px #888, 793px 172px #888, 1562px 1739px #888,
        1056px 110px #888, 1512px 379px #888, 1795px 1621px #888,
        1848px 607px #888, 262px 1719px #888, 477px 991px #888, 483px 883px #888,
        1239px 1197px #888, 1496px 647px #888, 1649px 25px #888,
        1491px 1946px #888, 119px 996px #888, 179px 1472px #888,
        1341px 808px #888, 1565px 1700px #888, 407px 1544px #888,
        1754px 357px #888, 1288px 981px #888, 902px 1997px #888,
        1755px 1668px #888, 186px 877px #888, 1202px 1882px #888,
        461px 1213px #888, 1400px 748px #888, 1969px 1899px #888,
        809px 522px #888, 514px 1219px #888, 374px 275px #888, 938px 1973px #888,
        357px 552px #888, 144px 1722px #888, 1572px 912px #888,
        402px 1858px #888, 1544px 1195px #888, 667px 1257px #888,
        727px 1496px #888, 993px 232px #888, 1772px 313px #888,
        1040px 1590px #888, 1204px 1973px #888, 1268px 79px #888,
        1555px 1048px #888, 986px 1707px #888, 978px 1710px #888,
        713px 360px #888, 407px 863px #888, 461px 736px #888, 284px 1608px #888,
        103px 430px #888, 1283px 1319px #888, 977px 1186px #888,
        1966px 1516px #888, 1287px 1129px #888, 70px 1098px #888,
        1189px 889px #888, 1126px 1734px #888, 309px 1292px #888,
        879px 764px #888, 65px 473px #888, 1003px 1959px #888, 658px 791px #888,
        402px 1576px #888, 35px 622px #888, 529px 1589px #888, 164px 666px #888,
        1876px 1290px #888, 1541px 526px #888, 270px 1297px #888,
        440px 865px #888, 1500px 802px #888, 182px 1754px #888,
        1264px 892px #888, 272px 1249px #888, 1289px 1535px #888,
        190px 1646px #888, 955px 242px #888, 1456px 1597px #888,
        1727px 1983px #888, 635px 801px #888, 226px 455px #888,
        1396px 1710px #888, 849px 1863px #888, 237px 1264px #888,
        839px 140px #888, 1122px 735px #888, 1280px 15px #888, 1318px 242px #888,
        1819px 1148px #888, 333px 1392px #888, 1949px 553px #888,
        1878px 1332px #888, 467px 548px #888, 1812px 1082px #888,
        1067px 193px #888, 243px 156px #888, 483px 1616px #888,
        1714px 933px #888, 759px 1800px #888, 1822px 995px #888,
        1877px 572px #888, 581px 1084px #888, 107px 732px #888,
        642px 1837px #888, 166px 1493px #888, 1555px 198px #888,
        819px 307px #888, 947px 345px #888, 827px 224px #888, 927px 1394px #888,
        540px 467px #888, 1093px 405px #888, 1140px 927px #888, 130px 529px #888,
        33px 1980px #888, 1147px 1663px #888, 1616px 1436px #888,
        528px 710px #888, 798px 1100px #888, 505px 1480px #888, 899px 641px #888,
        1909px 1949px #888, 1311px 964px #888, 979px 1301px #888,
        1393px 969px #888, 1793px 1886px #888, 292px 357px #888,
        1196px 1718px #888, 1290px 1994px #888, 537px 1973px #888,
        1181px 1674px #888, 1740px 1566px #888, 1307px 265px #888,
        922px 522px #888, 1892px 472px #888, 384px 1746px #888,
        392px 1098px #888, 647px 548px #888, 390px 1498px #888,
        1246px 138px #888, 730px 876px #888, 192px 1472px #888,
        1790px 1789px #888, 928px 311px #888, 1253px 1647px #888,
        747px 1921px #888, 1561px 1025px #888, 1533px 1292px #888,
        1985px 195px #888, 728px 729px #888, 1712px 1936px #888,
        512px 1717px #888, 1528px 483px #888, 313px 1642px #888,
        281px 1849px #888, 1212px 799px #888, 435px 1191px #888,
        1422px 611px #888, 1718px 1964px #888, 411px 944px #888,
        210px 636px #888, 1502px 1295px #888, 1434px 349px #888, 769px 60px #888,
        747px 1053px #888, 789px 504px #888, 1436px 1264px #888,
        1893px 1225px #888, 1394px 1788px #888, 1108px 1317px #888,
        1673px 1395px #888, 854px 1010px #888, 1705px 80px #888,
        1858px 148px #888, 1729px 344px #888, 1388px 664px #888,
        895px 406px #888, 1479px 157px #888, 1441px 1157px #888,
        552px 1900px #888, 516px 364px #888, 1647px 189px #888,
        1427px 1071px #888, 785px 729px #888, 1080px 1710px #888,
        504px 204px #888, 1177px 1622px #888, 657px 34px #888,
        1296px 1099px #888, 248px 180px #888, 1212px 1568px #888,
        667px 1562px #888, 695px 841px #888, 1608px 1247px #888,
        751px 882px #888, 87px 167px #888, 607px 1368px #888, 1363px 1203px #888,
        1836px 317px #888, 1668px 1703px #888, 830px 1154px #888,
        1721px 1398px #888, 1601px 1280px #888, 976px 874px #888,
        1743px 254px #888, 1020px 1815px #888, 1670px 1766px #888,
        1890px 735px #888, 1379px 136px #888, 1864px 695px #888,
        206px 965px #888, 1404px 1932px #888, 1923px 1360px #888,
        247px 682px #888, 519px 1708px #888, 645px 750px #888,
        1164px 1204px #888, 834px 323px #888, 172px 1350px #888,
        213px 972px #888, 1837px 190px #888, 285px 1806px #888,
        1047px 1299px #888, 1548px 825px #888, 1730px 324px #888,
        1346px 1909px #888, 772px 270px #888, 345px 1190px #888,
        478px 1433px #888, 1479px 25px #888, 1994px 1830px #888,
        1744px 732px #888, 20px 1635px #888, 690px 1795px #888,
        1594px 569px #888, 579px 245px #888, 1398px 733px #888,
        408px 1352px #888, 1774px 120px #888, 1152px 1370px #888,
        1698px 1810px #888, 710px 1450px #888, 665px 286px #888,
        493px 1720px #888, 786px 5px #888, 637px 1140px #888, 764px 324px #888,
        927px 310px #888, 938px 1424px #888, 1884px 744px #888, 913px 462px #888,
        1831px 1936px #888, 1527px 249px #888, 36px 1381px #888,
        1597px 581px #888, 1530px 355px #888, 949px 459px #888, 799px 828px #888,
        242px 1471px #888, 654px 797px #888, 796px 594px #888, 1365px 678px #888,
        752px 23px #888, 1630px 541px #888, 982px 72px #888, 1733px 1831px #888,
        21px 412px #888, 775px 998px #888, 335px 1945px #888, 264px 583px #888,
        158px 1311px #888, 528px 164px #888, 1978px 574px #888,
        717px 1203px #888, 734px 1591px #888, 1555px 820px #888,
        16px 1943px #888, 1625px 1177px #888, 1236px 690px #888,
        1585px 1590px #888, 1737px 1728px #888, 721px 698px #888,
        1804px 1186px #888, 166px 980px #888, 1850px 230px #888,
        330px 1712px #888, 95px 797px #888, 1948px 1078px #888, 469px 939px #888,
        1269px 1899px #888, 955px 1220px #888, 1137px 1075px #888,
        312px 1293px #888, 986px 1762px #888, 1103px 1238px #888,
        428px 1993px #888, 355px 570px #888, 977px 1836px #888,
        1395px 1092px #888, 276px 913px #888, 1743px 656px #888,
        773px 502px #888, 1686px 1322px #888, 1516px 1945px #888,
        1334px 501px #888, 266px 156px #888, 455px 655px #888, 798px 72px #888,
        1059px 1259px #888, 1402px 1687px #888, 236px 1329px #888,
        1455px 786px #888, 146px 1228px #888, 1851px 823px #888,
        1062px 100px #888, 1220px 953px #888, 20px 1826px #888, 36px 1063px #888,
        1525px 338px #888, 790px 1521px #888, 741px 1099px #888,
        288px 1489px #888, 700px 1060px #888, 390px 1071px #888,
        411px 1036px #888, 1853px 1072px #888, 1446px 1085px #888,
        1164px 874px #888, 924px 925px #888, 291px 271px #888,
        1257px 1964px #888, 1580px 1352px #888, 1507px 1216px #888,
        211px 956px #888, 985px 1195px #888, 975px 1640px #888, 518px 101px #888,
        663px 1395px #888, 914px 532px #888, 145px 1320px #888, 69px 1397px #888,
        982px 523px #888, 257px 725px #888, 1599px 831px #888,
        1636px 1513px #888, 1250px 1158px #888, 1132px 604px #888,
        183px 102px #888, 1057px 318px #888, 1247px 1835px #888,
        1983px 1110px #888, 1077px 1455px #888, 921px 1770px #888,
        806px 1350px #888, 1938px 1992px #888, 855px 1260px #888,
        902px 1345px #888, 658px 1908px #888, 1845px 679px #888,
        712px 1482px #888, 595px 950px #888, 1784px 1992px #888,
        1847px 1785px #888, 691px 1004px #888, 175px 1179px #888,
        1666px 1911px #888, 41px 61px #888, 971px 1080px #888,
        1830px 1450px #888, 1351px 1518px #888, 1257px 99px #888,
        1395px 1498px #888, 1117px 252px #888, 1779px 597px #888,
        1346px 729px #888, 1108px 1144px #888, 402px 691px #888, 72px 496px #888,
        1673px 1604px #888, 1497px 974px #888, 1865px 1664px #888,
        88px 806px #888, 918px 77px #888, 244px 1118px #888, 256px 1820px #888,
        1851px 1840px #888, 605px 1851px #888, 634px 383px #888, 865px 37px #888,
        943px 1024px #888, 1951px 177px #888, 1097px 523px #888,
        985px 1700px #888, 1243px 122px #888, 768px 1070px #888,
        468px 194px #888, 320px 1867px #888, 1850px 185px #888,
        380px 1616px #888, 468px 1294px #888, 1122px 1743px #888,
        884px 299px #888, 1300px 1917px #888, 1860px 396px #888,
        1270px 990px #888, 529px 733px #888, 1975px 1347px #888,
        1885px 685px #888, 226px 506px #888, 651px 878px #888, 1323px 680px #888,
        1284px 680px #888, 238px 1967px #888, 911px 174px #888,
        1111px 521px #888, 1150px 85px #888, 794px 502px #888, 484px 1856px #888,
        1809px 368px #888, 112px 953px #888, 590px 1009px #888,
        1655px 311px #888, 100px 1026px #888, 1803px 352px #888,
        865px 306px #888, 1077px 1019px #888, 1335px 872px #888,
        1647px 1298px #888, 1233px 1387px #888, 698px 1036px #888,
        659px 1860px #888, 388px 1412px #888, 1212px 458px #888,
        755px 1468px #888, 696px 1654px #888, 1144px 60px #888;
    }
    .stars-static {
      width: 1.5px;
      height: 1.5px;
      background-color: transparent;
      box-shadow: 1448px 320px #888, 1775px 1663px #888, 332px 1364px #888,
        878px 340px #888, 569px 1832px #888, 1422px 1684px #888,
        1946px 1907px #888, 121px 979px #888, 1044px 1069px #888,
        463px 381px #888, 423px 112px #888, 523px 1179px #888, 779px 654px #888,
        1398px 694px #888, 1085px 1464px #888, 1599px 1869px #888,
        801px 1882px #888, 779px 1231px #888, 552px 932px #888,
        1057px 1196px #888, 282px 1280px #888, 496px 1986px #888,
        1833px 1120px #888, 1802px 1293px #888, 6px 1696px #888,
        412px 1902px #888, 605px 438px #888, 24px 1212px #888, 234px 1320px #888,
        544px 344px #888, 1107px 170px #888, 1603px 196px #888, 905px 648px #888,
        68px 1458px #888, 649px 1969px #888, 744px 675px #888, 1127px 478px #888,
        714px 1814px #888, 1486px 526px #888, 270px 1636px #888,
        1931px 149px #888, 1807px 378px #888, 8px 390px #888, 1415px 699px #888,
        1473px 1211px #888, 1590px 141px #888, 270px 1705px #888,
        69px 1423px #888, 1108px 1053px #888, 1946px 128px #888,
        371px 371px #888, 1490px 220px #888, 357px 1885px #888, 363px 363px #888,
        1896px 1256px #888, 1979px 1050px #888, 947px 1342px #888,
        1754px 242px #888, 514px 974px #888, 65px 1477px #888, 1840px 547px #888,
        950px 695px #888, 459px 1150px #888, 1124px 1502px #888,
        481px 940px #888, 680px 839px #888, 797px 1169px #888,
        1977px 1491px #888, 734px 1724px #888, 210px 298px #888,
        816px 628px #888, 686px 770px #888, 1721px 267px #888, 1663px 511px #888,
        1481px 1141px #888, 582px 248px #888, 1308px 953px #888,
        628px 657px #888, 897px 1535px #888, 270px 931px #888, 791px 467px #888,
        1336px 1732px #888, 1013px 1653px #888, 1911px 956px #888,
        587px 816px #888, 83px 456px #888, 930px 1478px #888, 1587px 1694px #888,
        614px 1200px #888, 302px 1782px #888, 1711px 1432px #888,
        443px 904px #888, 1666px 714px #888, 1588px 1167px #888,
        273px 1075px #888, 1679px 461px #888, 721px 664px #888, 1202px 10px #888,
        166px 1126px #888, 331px 1628px #888, 430px 1565px #888,
        1585px 509px #888, 640px 38px #888, 822px 837px #888, 1760px 1664px #888,
        1122px 1458px #888, 398px 131px #888, 689px 285px #888, 460px 652px #888,
        1627px 365px #888, 348px 1648px #888, 819px 1946px #888,
        981px 1917px #888, 323px 76px #888, 979px 684px #888, 887px 536px #888,
        1348px 1596px #888, 1055px 666px #888, 1402px 1797px #888,
        1300px 1055px #888, 937px 238px #888, 1474px 1815px #888,
        1144px 1710px #888, 1629px 1087px #888, 911px 919px #888,
        771px 819px #888, 403px 720px #888, 163px 736px #888, 1062px 238px #888,
        1774px 818px #888, 1874px 1178px #888, 1177px 699px #888,
        1244px 1244px #888, 1371px 58px #888, 564px 1515px #888,
        1824px 487px #888, 929px 702px #888, 394px 1348px #888,
        1161px 641px #888, 219px 1841px #888, 358px 941px #888,
        140px 1759px #888, 1019px 1345px #888, 274px 436px #888,
        1433px 1605px #888, 1798px 1426px #888, 294px 1848px #888,
        1681px 1877px #888, 1344px 1824px #888, 1439px 1632px #888,
        161px 1012px #888, 1308px 588px #888, 1789px 582px #888,
        721px 1910px #888, 318px 218px #888, 607px 319px #888, 495px 535px #888,
        1552px 1575px #888, 1562px 67px #888, 403px 926px #888,
        1096px 1800px #888, 1814px 1709px #888, 1882px 1831px #888,
        533px 46px #888, 823px 969px #888, 530px 165px #888, 1030px 352px #888,
        1681px 313px #888, 338px 115px #888, 1607px 211px #888,
        1718px 1184px #888, 1589px 659px #888, 278px 355px #888,
        464px 1464px #888, 1165px 277px #888, 950px 694px #888,
        1746px 293px #888, 793px 911px #888, 528px 773px #888,
        1883px 1694px #888, 748px 182px #888, 1924px 1531px #888,
        100px 636px #888, 1473px 1445px #888, 1264px 1244px #888,
        850px 1377px #888, 987px 1976px #888, 933px 1761px #888,
        922px 1270px #888, 500px 396px #888, 1324px 8px #888, 1967px 1814px #888,
        1072px 1401px #888, 961px 37px #888, 156px 81px #888, 1915px 502px #888,
        1076px 1846px #888, 152px 1669px #888, 986px 1529px #888,
        1667px 1137px #888;
    }
    .stars-static::after {
      content: "";
      position: absolute;
      top: 2000px;
      width: 1px;
      height: 1px;
      box-shadow: 1448px 320px #888, 1775px 1663px #888, 332px 1364px #888,
        878px 340px #888, 569px 1832px #888, 1422px 1684px #888,
        1946px 1907px #888, 121px 979px #888, 1044px 1069px #888,
        463px 381px #888, 423px 112px #888, 523px 1179px #888, 779px 654px #888,
        1398px 694px #888, 1085px 1464px #888, 1599px 1869px #888,
        801px 1882px #888, 779px 1231px #888, 552px 932px #888,
        1057px 1196px #888, 282px 1280px #888, 496px 1986px #888,
        1833px 1120px #888, 1802px 1293px #888, 6px 1696px #888,
        412px 1902px #888, 605px 438px #888, 24px 1212px #888, 234px 1320px #888,
        544px 344px #888, 1107px 170px #888, 1603px 196px #888, 905px 648px #888,
        68px 1458px #888, 649px 1969px #888, 744px 675px #888, 1127px 478px #888,
        714px 1814px #888, 1486px 526px #888, 270px 1636px #888,
        1931px 149px #888, 1807px 378px #888, 8px 390px #888, 1415px 699px #888,
        1473px 1211px #888, 1590px 141px #888, 270px 1705px #888,
        69px 1423px #888, 1108px 1053px #888, 1946px 128px #888,
        371px 371px #888, 1490px 220px #888, 357px 1885px #888, 363px 363px #888,
        1896px 1256px #888, 1979px 1050px #888, 947px 1342px #888,
        1754px 242px #888, 514px 974px #888, 65px 1477px #888, 1840px 547px #888,
        950px 695px #888, 459px 1150px #888, 1124px 1502px #888,
        481px 940px #888, 680px 839px #888, 797px 1169px #888,
        1977px 1491px #888, 734px 1724px #888, 210px 298px #888,
        816px 628px #888, 686px 770px #888, 1721px 267px #888, 1663px 511px #888,
        1481px 1141px #888, 582px 248px #888, 1308px 953px #888,
        628px 657px #888, 897px 1535px #888, 270px 931px #888, 791px 467px #888,
        1336px 1732px #888, 1013px 1653px #888, 1911px 956px #888,
        587px 816px #888, 83px 456px #888, 930px 1478px #888, 1587px 1694px #888,
        614px 1200px #888, 302px 1782px #888, 1711px 1432px #888,
        443px 904px #888, 1666px 714px #888, 1588px 1167px #888,
        273px 1075px #888, 1679px 461px #888, 721px 664px #888, 1202px 10px #888,
        166px 1126px #888, 331px 1628px #888, 430px 1565px #888,
        1585px 509px #888, 640px 38px #888, 822px 837px #888, 1760px 1664px #888,
        1122px 1458px #888, 398px 131px #888, 689px 285px #888, 460px 652px #888,
        1627px 365px #888, 348px 1648px #888, 819px 1946px #888,
        981px 1917px #888, 323px 76px #888, 979px 684px #888, 887px 536px #888,
        1348px 1596px #888, 1055px 666px #888, 1402px 1797px #888,
        1300px 1055px #888, 937px 238px #888, 1474px 1815px #888,
        1144px 1710px #888, 1629px 1087px #888, 911px 919px #888,
        771px 819px #888, 403px 720px #888, 163px 736px #888, 1062px 238px #888,
        1774px 818px #888, 1874px 1178px #888, 1177px 699px #888,
        1244px 1244px #888, 1371px 58px #888, 564px 1515px #888,
        1824px 487px #888, 929px 702px #888, 394px 1348px #888,
        1161px 641px #888, 219px 1841px #888, 358px 941px #888,
        140px 1759px #888, 1019px 1345px #888, 274px 436px #888,
        1433px 1605px #888, 1798px 1426px #888, 294px 1848px #888,
        1681px 1877px #888, 1344px 1824px #888, 1439px 1632px #888,
        161px 1012px #888, 1308px 588px #888, 1789px 582px #888,
        721px 1910px #888, 318px 218px #888, 607px 319px #888, 495px 535px #888,
        1552px 1575px #888, 1562px 67px #888, 403px 926px #888,
        1096px 1800px #888, 1814px 1709px #888, 1882px 1831px #888,
        533px 46px #888, 823px 969px #888, 530px 165px #888, 1030px 352px #888,
        1681px 313px #888, 338px 115px #888, 1607px 211px #888,
        1718px 1184px #888, 1589px 659px #888, 278px 355px #888,
        464px 1464px #888, 1165px 277px #888, 950px 694px #888,
        1746px 293px #888, 793px 911px #888, 528px 773px #888,
        1883px 1694px #888, 748px 182px #888, 1924px 1531px #888,
        100px 636px #888, 1473px 1445px #888, 1264px 1244px #888,
        850px 1377px #888, 987px 1976px #888, 933px 1761px #888,
        922px 1270px #888, 500px 396px #888, 1324px 8px #888, 1967px 1814px #888,
        1072px 1401px #888, 961px 37px #888, 156px 81px #888, 1915px 502px #888,
        1076px 1846px #888, 152px 1669px #888, 986px 1529px #888,
        1667px 1137px #888;
    }
    .stars-anim2 {
      width: 1px;
      height: 1px;
      background-color: transparent;
      animation: stars 70s linear infinite;
      box-shadow: 387px 1878px #888, 760px 1564px #888, 1487px 999px #888,
        948px 1828px #888, 1977px 1001px #888, 1284px 1963px #888,
        656px 284px #888, 1268px 1635px #888, 1820px 598px #888,
        642px 1900px #888, 296px 57px #888, 921px 1620px #888, 476px 1858px #888,
        658px 613px #888, 1171px 1363px #888, 1419px 283px #888,
        1037px 731px #888, 503px 663px #888, 1562px 463px #888,
        383px 1197px #888, 1171px 1233px #888, 876px 1768px #888,
        856px 1615px #888, 1375px 1924px #888, 1725px 918px #888,
        952px 119px #888, 768px 1212px #888, 992px 1462px #888,
        1929px 717px #888, 1947px 755px #888, 1818px 1123px #888,
        1896px 1672px #888, 460px 198px #888, 256px 271px #888, 752px 544px #888,
        1222px 1859px #888, 1851px 443px #888, 313px 1858px #888,
        709px 446px #888, 1546px 697px #888, 674px 1155px #888,
        1112px 130px #888, 355px 1790px #888, 1496px 974px #888,
        1696px 480px #888, 1316px 1265px #888, 1645px 1063px #888,
        1182px 237px #888, 427px 1582px #888, 859px 253px #888, 458px 939px #888,
        1517px 1644px #888, 1943px 60px #888, 212px 1650px #888,
        966px 1786px #888, 473px 712px #888, 130px 76px #888, 1417px 1186px #888,
        909px 1580px #888, 1913px 762px #888, 204px 1143px #888,
        1998px 1057px #888, 1468px 1301px #888, 144px 1676px #888,
        21px 1601px #888, 382px 1362px #888, 912px 753px #888,
        1488px 1405px #888, 802px 156px #888, 174px 550px #888,
        338px 1366px #888, 1197px 774px #888, 602px 486px #888,
        682px 1877px #888, 348px 1503px #888, 407px 1139px #888,
        950px 1400px #888, 922px 1139px #888, 1697px 293px #888,
        1238px 1281px #888, 1038px 1197px #888, 376px 1889px #888,
        1255px 1680px #888, 1008px 1316px #888, 1538px 1447px #888,
        1186px 874px #888, 1967px 640px #888, 1341px 19px #888, 29px 1732px #888,
        16px 1650px #888, 1021px 1075px #888, 723px 424px #888, 1175px 41px #888,
        494px 1957px #888, 1296px 431px #888, 175px 1507px #888,
        831px 121px #888, 498px 1947px #888, 617px 880px #888, 240px 403px #888;
    }
    .stars-anim2::after {
      content: "";
      position: absolute;
      top: 2000px;
      width: 1px;
      height: 1px;
      box-shadow: 387px 1878px #888, 760px 1564px #888, 1487px 999px #888,
        948px 1828px #888, 1977px 1001px #888, 1284px 1963px #888,
        656px 284px #888, 1268px 1635px #888, 1820px 598px #888,
        642px 1900px #888, 296px 57px #888, 921px 1620px #888, 476px 1858px #888,
        658px 613px #888, 1171px 1363px #888, 1419px 283px #888,
        1037px 731px #888, 503px 663px #888, 1562px 463px #888,
        383px 1197px #888, 1171px 1233px #888, 876px 1768px #888,
        856px 1615px #888, 1375px 1924px #888, 1725px 918px #888,
        952px 119px #888, 768px 1212px #888, 992px 1462px #888,
        1929px 717px #888, 1947px 755px #888, 1818px 1123px #888,
        1896px 1672px #888, 460px 198px #888, 256px 271px #888, 752px 544px #888,
        1222px 1859px #888, 1851px 443px #888, 313px 1858px #888,
        709px 446px #888, 1546px 697px #888, 674px 1155px #888,
        1112px 130px #888, 355px 1790px #888, 1496px 974px #888,
        1696px 480px #888, 1316px 1265px #888, 1645px 1063px #888,
        1182px 237px #888, 427px 1582px #888, 859px 253px #888, 458px 939px #888,
        1517px 1644px #888, 1943px 60px #888, 212px 1650px #888,
        966px 1786px #888, 473px 712px #888, 130px 76px #888, 1417px 1186px #888,
        909px 1580px #888, 1913px 762px #888, 204px 1143px #888,
        1998px 1057px #888, 1468px 1301px #888, 144px 1676px #888,
        21px 1601px #888, 382px 1362px #888, 912px 753px #888,
        1488px 1405px #888, 802px 156px #888, 174px 550px #888,
        338px 1366px #888, 1197px 774px #888, 602px 486px #888,
        682px 1877px #888, 348px 1503px #888, 407px 1139px #888,
        950px 1400px #888, 922px 1139px #888, 1697px 293px #888,
        1238px 1281px #888, 1038px 1197px #888, 376px 1889px #888,
        1255px 1680px #888, 1008px 1316px #888, 1538px 1447px #888,
        1186px 874px #888, 1967px 640px #888, 1341px 19px #888, 29px 1732px #888,
        16px 1650px #888, 1021px 1075px #888, 723px 424px #888, 1175px 41px #888,
        494px 1957px #888, 1296px 431px #888, 175px 1507px #888,
        831px 121px #888, 498px 1947px #888, 617px 880px #888, 240px 403px #888;
    }
  }
  .header-links-container {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    @media (min-width: 768px) {
      font-size: 1.3rem;
    }
    .header-link {
      position: absolute;
      top: 25%;
      left: 20%;
      transition: 0.3s ease-in-out;
      @media (min-width: 1024px) {
        top: 30%;
        left: 30%;
      }
    }
    .header-link:hover {
      text-shadow: 0px 0px 5px $font-color;
    }

    .header-link:nth-child(2) {
      top: 42%;
      left: 77%;
      @media (min-width: 1024px) {
        top: 39%;
        left: 64%;
      }
    }
    .header-link:nth-child(3) {
      top: 52%;
      left: 25%;
      @media (min-width: 1024px) {
        top: 60%;
        left: 35%;
      }
    }
    .header-link:nth-child(4) {
      top: 72%;
      left: 65%;
      @media (min-width: 1024px) {
        top: 70%;
        left: 60%;
      }
    }
    .header-link::after {
      content: "";
      position: absolute;
      top: -10px;
      left: -25px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $font-color;
      box-shadow: 0 0 8px 1px rgba(255, 255, 255, 1);
      transition: 0.4s ease-in-out;
    }
    .header-link:hover.header-link::after {
      box-shadow: 0 0 8px 5px rgba(255, 255, 255, 1);
    }
  }
}
